---
import Layout from '../layouts/Layout.astro'
import Intro from '../components/Intro.astro'
import Banner from '../components/Banner.astro'
import Header from '../components/Header.astro'
---

<Layout title="Julian Pereira | Frontend Developer">
   <!-- <div id="intro" class="flex items-center justify-center w-full h-screen">
      <Intro />
   </div> -->
   <div id="page">
      <!-- <div id="page" style="display: none"> -->
      <Header />
      <Banner />
   </div>
</Layout>

<!-- <script>
   setTimeout(() => {
      const intro = document.getElementById('intro')
      const page = document.getElementById('page')

      intro.style.display = 'none'
      page.style.display = 'block'
   }, 8000)
</script> -->
