---
import Layout from '../layouts/Layout.astro'
import Intro from '../components/intro.astro'
import Banner from '../components/Banner.astro'
---

<Layout title="Julian Pereira | Frotend Developer">
   <main class="flex items-center justify-center h-screen w-screen">
      <Intro />
   </main>
</Layout>
