---
import Layout from '../layouts/Layout.astro'
import Intro from '../components/Intro.astro'
import Banner from '../components/Banner.astro'
import Header from '../components/Header.astro'
import About from '../components/About.astro'
---

<Layout title="Julian Pereira | Frontend Developer">
   <!-- <div id="intro" class="flex items-center justify-center w-full h-screen">
      <Intro />
   </div> -->
   <!-- <div id="page" style="display: none"> -->

   <!-- FOR CUSTOM SCROLLBAR -->
   <!-- <div
      class="h-screen w-full overflow-y-scroll scrollbar-thin scrollbar-thumb-turquoise scrollbar-thumb-rounded"
      id="page"
   > -->

   <div class="h-screen w-full" id="page">
      <Header />
      <Banner />
      <About />
   </div>
</Layout>

<!-- <script>
   setTimeout(() => {
      const intro = document.getElementById('intro')
      const page = document.getElementById('page')

      intro.style.display = 'none'
      page.style.display = 'block'
   }, 8000)
</script> -->
