---
import Layout from '../layouts/Layout.astro'
import Intro from '../components/Intro.astro'
import Banner from '../components/Banner.astro'
import Header from '../components/Header.astro'
import About from '../components/About.astro'
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro'
import Carousel from '../components/Carousel.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import Animation from '../components/Animation.astro'
---

<Layout title="Julian Pereira | Frontend Developer">
   <div class="h-screen w-full block sm:hidden" id="page">
      <header
         id="header"
         class="flex px-8 py-6 items-center justify-between fixed top-0 w-full bg-transparent z-10"
      >
         <Header />
      </header>
      <Banner />
      <About />
      <Skills />
      <Projects />
      <Carousel />
      <Contact />
      <Footer />
   </div>
</Layout>
<div
   id="intro"
   class="hidden sm:flex items-center justify-center w-full h-screen"
>
   <Animation />
</div>

<script>
   setTimeout(() => {
      const intro = document.getElementById('intro')
      const page = document.getElementById('page')
      intro.style.display = 'none'
      page.style.display = 'block'
   }, 6500)
</script>s

<!-- FOR CUSTOM SCROLLBAR -->
<!-- <div
      class="verflow-y-scroll scrollbar-thin scrollbar-thumb-turquoise scrollbar-thumb-rounded"
      id="page"
   > -->
