---
import Layout from '../layouts/Layout.astro'
import Intro from '../components/Intro.astro'
import Banner from '../components/Banner.astro'
import Header from '../components/Header.astro'
import About from '../components/About.astro'
import Skills from '../components/Skills.astro'
import Projects from '../components/Projects.astro'
import Carousel from '../components/Carousel.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import Animation from '../components/Animation.astro'
---

<Layout title="Julian Pereira | Frontend Developer">
   <div id="intro" class="flex items-center justify-center w-full h-screen">
      <Animation />
   </div>
   <!-- <div id="page" style="display: none"> -->

   <!-- FOR CUSTOM SCROLLBAR -->
   <!-- <div
      class="h-screen w-full overflow-y-scroll scrollbar-thin scrollbar-thumb-turquoise scrollbar-thumb-rounded"
      id="page"
   > -->

   <div class="h-screen w-full" style="display: none" id="page">
      <div
         class="flex px-8 py-6 items-center justify-between fixed top-0 w-full bg-transparent z-10"
      >
         <Header />
      </div>
      <Banner />
      <About />
      <Skills />
      <Projects />
      <Carousel />
      <Contact />
      <Footer />
   </div>
</Layout>

<script>
   setTimeout(() => {
      const intro = document.getElementById('intro')
      const page = document.getElementById('page')

      intro.style.display = 'none'
      page.style.display = 'block'
   }, 10000)
</script>
