<script src="../helpers/scroll.js"></script>

<section class="flex flex-col items-center relative h-full w-full">
   <picture class="absolute bottom-50 right-0 opacity-70 z-0">
      <img
         src="../../src/assets/img/Landing/smoke.png"
         alt="Photo of me"
         class="w-full h-2/4 z-0"
      />
   </picture>
   <h2
      id="heading"
      class="relative font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-transparent bg-clip-text px-16 py-8 text-5xl opacity-0"
   >
      ABOUT ME
      <span class="after w-full"></span>
   </h2>
   <div class="relative m-16">
      <p
         id="paragraph"
         class="text-lg w-9/12 h-10/12 m-auto z-10 p-6 text-justify opacity-0"
      >
         I'm a beautiful, fair-skinned young girl with long black hair that is
         usually tied by a black-red ribbon (her hair appears to be mid-back
         length when she lets it down) with bangs/hair strands hanging on either
         side, large, almond-shaped red eyes (that can look sharper, depending
         on her mood), thin eyebrows, and a slim, but feminine build, with a
         noticeably small chest. She is described in her manga character profile
         as possessing 'stunning beauty'.
         <br /><br />
         In the past, and at the beginning of her time in the Student Council, she
         always wore her hair down, without her iconic red ribbon. As 'The Ice Princess',
         her eyes appeared sharper, darker, and lifeless, giving her the aura of
         a gloomy, cold, unapproachable, and unattainable beauty. This reflected
         her mental state, influenced by her ruthlessly strict upbringing, where
         she acted cold towards others, pushing them away because she feared hurting
         others.
         <br /><br />
         Later, as she became closer to the other members of the Student Council
         (in particular, Miyuki Shirogane) and other students, she asks her maid
         Ai Hayasaka to make her "cute". The ribbon is her attempt at making herself
         appear less imposing and cold to others and marks a shift in her personality.
         Rather than coldly pushing and distancing herself from others, she starts
         to form meaningful relationships and becomes brighter, cuter, and happier
         overall. This change is particularly reflected in her eyes, which no longer
         looked vacant and distant. Now, her eyes appear wider and livelier.
      </p>
   </div>
</section>
