<section class="relative h-full w-full">
   <picture class="absolute bottom-50 right-0 opacity-70">
      <img
         src="../../src/assets/img/Landing/smoke.png"
         alt="Photo of me"
         class="w-full h-2/4"
      />
   </picture>
   <h2 class="text-turquoise m-8">ABOUT ME</h2>
</section>
