<script src="/src/helpers/scroll.js"></script>

<section
   id="about"
   class="flex flex-col items-center relative min-h-full h-auto"
>
   <h2
      id="heading-about"
      class="relative font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-transparent bg-clip-text px-16 py-8 m-16 text-5xl opacity-0"
   >
      ABOUT ME
      <span class="after w-full"></span>
   </h2>
   <div class="m-8">
      <p
         id="paragraph-about"
         class="text-lg w-9/12 h-10/12 m-auto z-10 p-6 text-justify opacity-0"
      >
         I'm a <span class="text-turquoise"> Front End Developer</span> and recently
         graduated from the <span class="text-turquoise">
            Universidad Nacional de Colombia
         </span>with a degree in <span class="text-turquoise"
            >Systems and Computer Engineering.
         </span>My passion for programming and web design led me to specialize
         in developing interactive interfaces and acquire strong knowledge in
         front-end technologies especially on React.

         <br /><br />
         During my time at the university, I had the opportunity to participate in
         challenging projects where I could apply my technical and creative skills
         to create engaging and functional web experiences. Additionally, my background
         in systems engineering has provided me with a solid foundation in problem-solving
         and the ability to work in multidisciplinary teams.
         <br /><br />
         I am constantly updating my skills and exploring new trends in the field
         of web development to deliver innovative and high-quality solutions. I am
         passionate about creating intuitive and accessible interfaces that enhance
         the user experience, and I am excited to be part of challenging projects
         where I can continue to grow as a professional in the front-end development
         field.
      </p>
      <div class="flex justify-center">
         <a
            id="resume"
            target="_blank"
            href="assets/docs/JulianPereira-resume.pdf"
            class="m-8 py-4 px-8 bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-white hover:bg-cyan-600 rounded-md transition duration-500 hover:scale-110"
         >
            GRAB A RESUME
         </a>
      </div>
   </div>
</section>
