---
import Header from '../components/Header.astro'
---

<header
   id="header"
   class="animate-header flex px-8 py-6 items-center justify-between fixed top-0 w-full bg-transparent z-10"
>
   <Header />
</header>

<div>
   <!--  AFTER -->
   <section class="absolute top-0 left-0 h-full w-full opacity-90 bg-black z-1">
      <div
         class="flex md:flex-row flex-col items-center justify-center h-full relative z-10"
      >
         <picture class="animate-photoIcon lg:p-20 m-16 lg:m-0">
            <img
               src="assets/img/Me/Photo1NoBg.png"
               alt="Photo of me"
               class="portrait block"
            />
         </picture>
         <div class="inline-block m-4 lg:m-16 text-center md:text-left">
            <h3 class="animate-hi p-2 text-md lg:text-lg text-turquoise">
               Hi, my name is
            </h3>
            <h2 class="animate-hi text-3xl sm:text-5xl lg:text-6xl p-2">
               Julian Pereira
            </h2>
            <div class="text-2xl sm:text-4xl lg:text-5xl">
               <h2
                  class="animate-hi inline-block font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-cyan-600 text-transparent bg-clip-text p-2"
               >
                  I'm a
               </h2>
               <h2
                  class="animate-ticBefore inline-block font-bold bg-gradient-to-r from-cyan-600 via-cyan-600 to-blue-900 text-transparent bg-clip-text p-2 pl-0 border-r-4 border-white"
               >
                  Fronted Developer
               </h2>
            </div>
         </div>
      </div>
      <picture class="animate-bg absolute bottom-10 right-0 opacity-70 z-0">
         <img
            src="assets/img/Landing/smoke.png"
            alt="Photo of me"
            class="block w-full"
         />
      </picture>
   </section>
   <!--  BEFORE -->
   <section
      class="relative top-0 left-0 w-full h-screen flex md:flex-row flex-col items-center justify-center z-0"
   >
      <picture class="opacity-0">
         <img
            src="assets/img/Me/Photo1NoBg.png"
            alt="Photo of me"
            class="portrait-intro inline-block"
         />
      </picture>
      <div>
         <h2
            class="ml-0 md:ml-8 inline-block text-xl sm:text-2xl md:text-3xl lg:text-4xl animate-typingtic whitespace-nowrap border-r-4 border-white overflow-hidden"
         >
            <span> Julian Pereira</span> | Frontend Developer
         </h2>
      </div>
   </section>
</div>
