<header>
   <picture class="animate-fade">
      <img
         src="../../src/assets/img/me/photo.jpg"
         alt="Photo of me"
         class="inline-block w-24 h-24 rounded-full overflow-hidden"
      />
   </picture>
   <h1>Julian Pereira | Frotend Developer</h1>
</header>
