<section class="relative h-full w-full opacity-90 bg-black">
   <div class="flex items-center justify-center h-full relative z-10">
      <div class="p-20">
         <img
            src="../../src/assets/img/me/photov2.jpg"
            alt="Photo of me"
            class="block w-64 h-64 rounded-full overflow-hidden"
         />
      </div>
      <div class="inline-block m-8">
         <h3 class="p-2 text-lg text-turquoise">Hi, my name is</h3>
         <h2 class="text-6xl p-2">JULIAN PEREIRA.</h2>
         <h2
            class="font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-transparent bg-clip-text animate-tic text-5xl opacity-70 p-2 border-r-4 border-white"
         >
            I'm a Fronted Developer
         </h2>
      </div>
   </div>
   <picture class="absolute bottom-10 right-0 opacity-70 z-0">
      <img
         src="../../src/assets/img/Landing/smoke.png"
         alt="Photo of me"
         class="block w-full h-2/4"
      />
   </picture>
</section>

<style>
   @keyframes slideLeft {
      0% {
         transform: translateX(0%);
      }
      100% {
         transform: translateX(-100%);
      }
   }
</style>
