<section id="banner" class="relative h-full w-full opacity-90 bg-black">
   <div class="flex items-center justify-center h-full relative z-10">
      <picture class="p-20">
         <img
            src="../../src/assets/img/me/Photo1.jpg"
            alt="Photo of me"
            class="portrait block rounded-full"
         />
      </picture>
      <div class="inline-block m-16">
         <h3 class="p-2 text-lg text-turquoise">Hi, my name is</h3>
         <h2 class="text-6xl p-2">Julian Pereira</h2>
         <div>
            <h2
               class="inline-block font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-cyan-600 text-transparent bg-clip-text text-5xl p-2"
            >
               I'm a
            </h2>
            <h2
               class="animate-ticAfter inline-block font-bold bg-gradient-to-r from-cyan-600 via-cyan-600 to-blue-900 text-transparent bg-clip-text text-5xl p-2 pl-0 border-r-4 border-white"
            >
               Fronted Developer
            </h2>
         </div>
      </div>
   </div>
   <picture class="absolute bottom-10 right-0 opacity-70 z-0">
      <img
         src="../../src/assets/img/Landing/smoke.png"
         alt="Photo of me"
         class="block w-full"
      />
   </picture>
</section>
