<section id="banner" class="relative h-full w-full opacity-90 bg-black">
   <div
      class="flex md:flex-row flex-col items-center justify-center h-full relative z-10"
   >
      <picture class="lg:p-20 m-16 lg:m-0">
         <img
            src="assets/img/Me/Photo1.jpg"
            alt="Photo of me"
            class="portrait block rounded-full"
         />
      </picture>
      <div class="inline-block m-4 lg:m-16 text-center md:text-left">
         <h3 class="p-2 text-md lg:text-lg text-turquoise">Hi, my name is</h3>
         <h2 class="text-3xl sm:text-5xl lg:text-6xl p-2">Julian Pereira</h2>
         <div class="text-2xl sm:text-4xl lg:text-5xl">
            <h2
               class="inline-block font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-cyan-600 text-transparent bg-clip-text p-2"
            >
               I'm a
            </h2>
            <h2
               class="animate-ticAfter inline-block font-bold bg-gradient-to-r from-cyan-600 via-cyan-600 to-blue-900 text-transparent bg-clip-text p-2 pl-0 border-r-4 border-white"
            >
               Fronted Developer
            </h2>
         </div>
      </div>
   </div>
   <picture class="absolute bottom-10 right-0 opacity-70 z-0">
      <img
         src="assets/img/Landing/smoke.png"
         alt="Smoke Bg"
         class="block w-full"
      />
   </picture>
</section>
