<section
   class="relative bg-center bg-cover h-screen w-screen opacity-90 bg-black"
>
   <picture class="absolute bottom-10 right-0 opacity-70">
      <img
         src="../../src/assets/img/Landing/smoke.png"
         alt="Photo of me"
         class="block w-full h-2/4"
      />
   </picture>
   <div class="flex items-center justify-center h-full">
      <picture class="p-20">
         <img
            src="../../src/assets/img/me/photov2.jpg"
            alt="Photo of me"
            class="block w-64 h-64 rounded-full overflow-hidden"
         />
      </picture>
      <div class="inline-block m-8">
         <h3 class="p-2 text-lg text-turquoise">Hi, my name is</h3>
         <h2 class="text-5xl p-2">JULIAN PEREIRA.</h2>
         <h2
            class="animate-tic first-line:text-5xl opacity-70 p-2 border-r-4 border-white"
         >
            I'm a Fronted Developer
         </h2>
      </div>
   </div>
</section>

<style>
   @keyframes slideLeft {
      0% {
         transform: translateX(0%);
      }
      100% {
         transform: translateX(-100%);
      }
   }
</style>
