---
import Title from './Title.astro'
---

<style>
   .input {
      @apply bg-almostBlack px-4 py-2  text-white border border-gray-300 rounded-md focus:ring-primary-500 focus:border-primary-500;
   }

   .disabled {
      opacity: 0.5;
      pointer-events: none;
   }

   .disabled:hover {
      transform: scale(1);
   }
</style>

<section
   id="contact"
   class="flex flex-col items-center relative sm:min-h-full h-auto bg-almostBlack"
>
   <Title title="CONTACT ME " id="heading-contact" />

   <p class="text-lg text-gray-300 m-8 sm:mx-16 sm:mt-16 mb-2 text-center">
      Feel free to Contact me by submitting the form below and I will get back
      to you as soon as possible
   </p>
   <div
      class="bg-black p-8 sm:p-16 text-turquoise font-bold m-4 lg:m-16 shadow-xl rounded-lg w-4/5 sm:w-3/5 xl:w-1/2"
   >
      <form name="contact-me" class="flex flex-col">
         <label class="text-xl mb-4" for="name">Name:</label>
         <input
            placeholder="Enter Your Name"
            type="text"
            id="name"
            name="Name"
            class="input"
            required
         />

         <label class="text-xl mb-4 mt-8" for="email">Email:</label>
         <input
            type="email"
            id="email"
            name="Email"
            class="input"
            placeholder="Enter Your Email"
            required
         />

         <label class="text-xl mb-4 mt-8" for="message">Message:</label>
         <textarea
            placeholder="Enter Your Message"
            id="message"
            rows="8"
            name="Message"
            class="input"
            required></textarea>

         <button
            id="myButton"
            type="submit"
            class="w-auto sm:w-1/2 mx-auto mt-8 py-4 px-8 bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-white hover:bg-cyan-600 rounded-md transition duration-500 hover:scale-105"
         >
            Submit</button
         >
      </form>
      <span id="msg"> </span>
   </div>
</section>
<script>
   var button = document.getElementById('myButton') as HTMLButtonElement

   const scriptURL =
      'https://script.google.com/macros/s/AKfycbyr_gXClrwxa-x8loQjnbHB8Y3q2lBm6PrdSQ94ZHWpdx6bHpjGx3xIBukumx7qlza3Vg/exec'
   const form = document.forms['contact-me']
   const msg = document.getElementById('msg')

   form.addEventListener('submit', (e) => {
      e.preventDefault()

      button.disabled = true
      button.innerHTML = 'Sending...'
      button.classList.add('disabled')

      console.log(button.disabled)
      fetch(scriptURL, { method: 'POST', body: new FormData(form) })
         .then((response) => {
            msg.innerHTML = 'Thanks for your message'
            button.disabled = false
            button.innerHTML = 'Submit'
            button.classList.remove('disabled')

            setTimeout(() => (msg.innerHTML = ' '), 5000)
            form.reset()
         })
         .catch((error) => (msg.innerHTML = 'Error sending your message'))
   })
</script>
