<header
   class="flex px-8 py-6 items-center fixed top-0 w-full justify-between z-10"
>
   <div class="flex flex-grow basis-0">
      <span class="mx-2 font-bold font-logo text-xl"> <a href="/"> JP</a></span>
   </div>
   <nav>
      <ul
         class="flex [&>li>a]:inline-block [&>li>a]:text-lg [&>li>a]:px-4 [&>li>a]:py-2"
      >
         <li>
            <a
               class="relative transition duration-400 ease-in hover:text-turquoise"
               href="#"
            >
               Home<span class="after"></span></a
            >
         </li>
         <li>
            <a
               class="relative transition duration-400 ease-in hover:text-turquoise"
               href="#"
            >
               About<span class="after"></span></a
            >
         </li>
         <li>
            <a
               class="relative transition duration-400 ease-in hover:text-turquoise"
               href="#"
            >
               Projects<span class="after"></span></a
            >
         </li>
         <li>
            <a
               class="relative transition duration-400 ease-in hover:text-turquoise"
               href="#"
            >
               Contact<span class="after"></span></a
            >
         </li>
      </ul>
   </nav>
   <nav class="flex flex-grow basis-0 justify-end">
      <ul class="flex [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
         <li><a href="#"> GH</a></li>
         <li><a href="#"> LI</a></li>
         <li><a href="#"> IG</a></li>
         <li><a href="#"> DC</a></li>
      </ul>
   </nav>
</header>
