<section class="flex flex-row items-center justify-center">
   <picture class="animate-photoIcon m-8 w-28 h-28">
      <img
         src="../../src/assets/img/me/photov2.jpg"
         alt="Photo of me"
         class="inline-block w-full h-full rounded-full opacity"
      />
   </picture>
   <div>
      <h2
         class="py-8 pl-2 pr-0 -inline-block text-4xl animate-typingtic whitespace-nowrap border-r-4 border-white"
      >
         Julian Pereira | Frontend Developer
      </h2>
   </div>
</section>
