<li>
   <a class="relative navbar-item" href="#"> Home<span class="after"></span></a>
</li>
<li>
   <a class="relative navbar-item" href="#about">
      About<span class="after"></span></a
   >
</li>
<li>
   <a class="relative navbar-item" href="#skills">
      Skills<span class="after"></span></a
   >
</li>
<li>
   <a class="relative navbar-item" href="#projects">
      Projects<span class="after"></span></a
   >
</li>
<li>
   <a class="relative navbar-item" href="#contact">
      Contact<span class="after"></span></a
   >
</li>
