<style>
   ul {
      list-style: disc;
   }
   ul li::marker {
      content: '🔵';
      color: turquoise;
   }
</style>
<div class="w-1/2 mx-4">
   <h2
      id="sub-heading-profs"
      class="relative font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-transparent bg-clip-text p-4 mx-16 my-8 text-4xl opacity-0"
   >
      PROFICIENCIES
      <span class="after w-full"></span>
   </h2>
   <ul
      id="profs"
      class="text-white text-lg mx-16 [&>li]:m-8 text-justify opacity-0"
   >
      <li>
         <span class="font-bold"> Responsive Design:</span> Creating web interfaces
         that adapt and respond smoothly to different screen sizes and devices, ensuring
         a consistent and optimal user experience.
      </li>
      <li>
         <span class="font-bold"> Testing:</span> Conducting thorough testing of
         web applications to identify and resolve any issues or bugs, ensuring the
         functionality, performance, and usability of the product.
      </li>
      <li>
         <span class="font-bold"> Agile Methodologies:</span> Applying agile development
         principles and methodologies, such as Scrum , to enable iterative and collaborative
         project management, ensuring faster delivery and flexibility in adapting
         to changing requirements.
      </li>
      <li>
         <span class="font-bold">
            Building Pages from Scratch with Attention to Detail:
         </span> Creating web pages and interfaces from scratch, paying meticulous
         attention to detail in order to craft clean and well-structured code, resulting
         in high-quality, visually appealing, and performant websites.
      </li>
      <li>
         <span class="font-bold"> Teamwork:</span> Collaborating effectively with
         team members, including designers, developers, and stakeholders, to achieve
         common goals, share knowledge, and deliver successful web projects.
      </li>
   </ul>
</div>
