---
import Project from '../layouts/Project.astro'
import Title from './Title.astro'
---

<section
   id="projects"
   class="flex flex-col items-center relative min-h-full h-auto bg-white w-full"
>
   <Title title="PROJECTS " id="heading-project" />

   <div class="w-full">
      <Project
         title="Create Your League"
         body="A Football League simulator that lets you select from the 5 major leagues of the 22/23 season and simulate match outcomes to generate an up-to-date league table. It offers an enjoyable experience for football enthusiasts"
         chars={[
            {
               title: 'League Selection',
               body: 'Users can choose from Premier League, La Liga, Serie A, Bundesliga, Ligue 1 of the 22/23 season.',
            },
            {
               title: 'Results Simulation',
               body: 'Users can simulate matches by creating his own results  for each team.',
            },
            {
               title: 'League Table',
               body: 'After each simulation, an updated league table is generated, showing the position, points, matches played, wins, draws, and losses of each team.',
            },
            {
               title: 'League Information',
               body: 'Detailed information is provided about the selected league, and their clubs.',
            },
         ]}
         pagehref="#"
         githref="https://github.com/Nzone56/CreateYourLeague"
         src="CYL"
      />
      <Project
         title="Journal App"
         body="A Journaling app that features login/registration and allows you to manage multiple notes with titles, body text, and image uploads."
         chars={[
            {
               title: 'Efficient development',
               body: 'React, Vite, and Material UI for efficient development.',
            },
            {
               title: 'State management with Redux',
               body: 'Redux handles global state management.',
            },
            {
               title: 'Asynchronous operations',
               body: 'Redux Toolkit and RTK Query for asynchronous operations and data fetching.',
            },
            {
               title: 'CRUD operations with Firestore',
               body: 'Complete data management with Firestore for CRUD operations.',
            },
            {
               title: 'Login and logout functionalities',
               body: 'Secure login and logout functionalities, including Google authentication.',
            },
         ]}
         pagehref="#"
         githref="https://github.com/Nzone56/journal-app"
         src="Journal"
      />
   </div>
</section>
