---
import Proficiencies from './Proficiencies.astro'
import Techs from './Techs.astro'
import Title from './Title.astro'
---

<section
   id="skills"
   class="flex flex-col items-center relative min-h-full h-auto bg-bgBlack"
>
   <Title title="SKILLS " id="heading-skills" />

   <div class="flex flex-col lg:flex-row">
      <Techs />
      <Proficiencies />
   </div>
</section>
