---
import Proficiencies from './Proficiencies.astro'
import Techs from './Techs.astro'
---

<section
   class="flex flex-col items-center relative min-h-full h-auto bg-bgBlack"
>
   <h2
      id="heading-skills"
      class="relative font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-transparent bg-clip-text px-16 py-8 m-16 text-5xl opacity-0"
   >
      SKILLS
      <span class="after w-full"></span>
   </h2>
   <div class="flex">
      <Techs />
      <Proficiencies />
   </div>
</section>
