<style>
   .tech-icon {
      height: 5rem;
      width: 5rem;
      filter: grayscale(100%);
      transition: filter 0.5s ease-in-out;
      margin: 20px;
   }

   .tech-icon:hover {
      filter: none;
   }
</style>

<div class="w-1/2">
   <h2
      id="sub-heading-techs"
      class="relative font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-transparent bg-clip-text p-4 mx-16 my-8 text-4xl opacity-0"
   >
      TECHS
      <span class="after w-full"></span>
   </h2>

   <div id="techs" class="flex flex-wrap justify-center my-8 mx-16 opacity-0">
      <img
         src="/src/assets/img/Tech/html5.svg"
         alt="HTML5 logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/css3.svg"
         alt="CSS3 logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/javascript.svg"
         alt="JavaScript logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/typescript.svg"
         alt="Typescript logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/java.svg"
         alt="Java logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/python.svg"
         alt="Python logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/react.svg"
         alt="React logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/astro.svg"
         alt="Astro logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/vitejs.svg"
         alt="Vite logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/sass.svg"
         alt="Sass logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/less.svg"
         alt="Less logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/bootstrap.svg"
         alt="Bootstrap logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/tailwind.svg"
         alt="Tailwind logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/MUI.svg"
         alt="MUI logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/redux.svg"
         alt="Redux logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/npm.svg"
         alt="Npm logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/yarn.svg"
         alt="Yarn logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/postman.svg"
         alt="Postman logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/firebase.svg"
         alt="Firebase logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/git.svg"
         alt="Git logo"
         class="tech-icon"
      />
      <img
         src="/src/assets/img/Tech/github.svg"
         alt="GitHub logo"
         class="tech-icon"
      />
   </div>
</div>
