---
export interface Props {
   title: string
   id: string
}

const { title, id } = Astro.props
---

<h2
   id={id}
   class="relative font-bold bg-gradient-to-r from-turquoise via-cyan-600 to-blue-900 text-transparent bg-clip-text p-4 sm:px-16 sm:py-8 m-8 sm:m-16 text-4xl sm:text-5xl opacity-0"
>
   {title}
   <span class="after w-full"></span>
</h2>
