---
export interface Props {
   title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="Astro description" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
   </head>
   <body>
      <slot />
   </body>
</html>
<!-- BREAKPOINTS 1024 & 768 -->

<style is:global>
   :root {
      --dark-purple: #292a42; /* background */
      --slate-blue: #6d829b; /* primary */
      --silver-blue: #8d98aa; /* secondary */
      --turquoise: #47c1bf; /* tertiary */
      --whisper-white: #dcd9d8; /* text */
   }
   html {
      font-family: system-ui, sans-serif;
      background-color: black;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: white;
   }

   .relative {
      display: inline-block;
   }

   .after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: turquoise;
      transition: width 0.4s ease-out;
   }

   .relative:hover .after {
      width: 100%;
   }

   @font-face {
      font-family: 'Big John Bold';
      src: local('BigJohnPRO-Bold'),
         url('../../src/assets/fonts/BigJohnPRO-Bold.otf') format('opentype');
   }

   @keyframes typing {
      0% {
         opacity: 1;
         width: 0%;
         padding: 0;
      }
      65% {
         opacity: 1;
         width: 0%;
         padding: 0;
      }
      100% {
         opacity: 1;
         width: 100%;
         padding: 8px 32px 8px 0;
      }
   }

   @keyframes blink-caret {
      from,
      to {
         border-color: transparent;
      }
      50% {
         border-color: var(--turquoise);
      }
   }

   @keyframes fade {
      from {
         opacity: 0;
      }
      to {
         opacity: 1;
      }
   }

   @keyframes initImage {
      0% {
      }

      65% {
         transform: translate(0, 0) scale(1);
      }
      100% {
         transform: translate(-210%, -275%) scale(2);
      }
   }
   @keyframes initText {
      0% {
      }

      60% {
         opacity: 1;
         transform: translate(0, 0);
      }
      100% {
         opacity: 1;
         transform: translate(0, 0);
      }
   }
   @keyframes slideInFromLeft {
      0% {
         transform: translateX(-25%);
         opacity: 0;
      }
      100% {
         transform: translateX(0);
         opacity: 1;
      }
   }
   @keyframes slideInFromBot {
      0% {
         transform: translateY(25%);
         opacity: 0;
      }
      100% {
         transform: translateX(0);
         opacity: 1;
      }
   }
</style>
